import /etc/caddy/generated_globals.caddy
import /etc/caddy/generated_site.caddy

import /etc/caddy/marketplace_apps.caddy

# The Admin API is available internally on port 2019
# We will use this in Phase 4 to dynamically add routes for marketplace apps
